@model TesteCedro.Models.Produto
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes do Produto</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css">
</head>
<body>
    <div>
        <h2><b>DETALHES DO PRODUTO</b></h2>
        <hr />
        <div class="cardProduto">
            <img class="img-thumbnail" src=@Html.DisplayFor(modelproduto => modelproduto.Imagem)
                 alt="Avatar" style=" width:400px; height:250px; display:block; margin:auto;">
            <h4 style="margin:5px"> <b>NOME: </b> @Html.DisplayFor(modelproduto => modelproduto.Nome)</h4>
            <h4 style="margin:5px"> <b>PREÇO: </b> R$ @Html.DisplayFor(modelproduto => modelproduto.Valor)</h4>
            <h4 style="margin:5px"> <b>DESCRIÇÃO: </b> @Html.DisplayFor(modelproduto => modelproduto.Descricao)</h4>
            <div>
                <form asp-action="DetalharProduto">
                    <div class="form-group">
                        <input asp-for="IDProduto" type="hidden" class="form-control" />
                        <span asp-validation-for="IDProduto" class="text-danger"></span>
                    </div>
                    <a asp-action="Index" class="btn btn-default" style="margin:3px; background-color:#000000; color:#ffffff"> VOLTAR </a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
