@model TesteCedro.Models.Produto
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excluir Produto</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css">
</head>
<body>
    <div>
        <h2><b>APAGAR PRODUTOS</b></h2>
        <hr />
        <div class="cardProduto">
            <img class="img-thumbnail" src=@Html.DisplayFor(modelproduto => Model.Imagem)
                 alt="Avatar" style=" width:400px; height:250px; display:block; margin:auto;">
            <h4 style="margin:5px"> <b>NOME:</b> @Html.DisplayFor(modelproduto => Model.Nome)</h4>
            <h4 style="margin:5px"> <b>PREÇO:</b> R$ @Html.DisplayFor(modelproduto => Model.Valor)</h4>
            <h4 style="margin:5px"> <b>DESCRIÇÃO:</b> @Html.DisplayFor(modelproduto => Model.Valor)</h4>
            <div class="buttonProduto">
                <form asp-action="ExcluiProduto">
                    <div class="form-group">
                        <input asp-for="IDProduto" type="hidden" class="form-control" />
                        <span asp-validation-for="IDProduto" class="text-danger"></span>
                    </div>
                    <input type="submit" value="APAGAR" style="background-color:#000000; color:#ffffff; margin:3px; font-weight: bold;" class="btn btn-default" />
                    <a asp-action="Index" class="btn btn-default" style="margin:3px; background-color:#000000; color:#ffffff "><b> VOLTAR </b></a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
